@use "./_variables.module.scss" as *;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-secondary-bg;
  color: white;
}
