.loading-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212020;
  color: #fff;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loading-overlay.fade-out {
  opacity: 0;
}

.loader {
  position: relative;
  width: 1em;
  height: 4em;
  background: #fff;
  animation: escaleY 1s infinite ease-in-out;
  animation-delay: -0.16s;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1em;
  height: 4em;
  background: #fff;
  animation: escaleY 1s infinite ease-in-out;
}

.loader::before {
  left: -2em;
  animation-delay: -0.32s;
}

.loader::after {
  left: 2em;
}

@keyframes escaleY {
  0%,
  80%,
  100% {
    height: 4em;
  }
  40% {
    height: 5em;
  }
}
