@use "../variables.module" as *;

.flag-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0px;
}
.language-selector {
  position: relative;
  cursor: pointer;
  font-family: var(--font-montserrat);

  .selected {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #2c2a2a;
    padding: 6px 12px;
    border-radius: 6px;
    color: white;

    .arrow {
      margin-left: 4px;
    }
  }

  .dropdown {
    position: absolute;
    top: 110%;
    right: 0;
    background-color: #2c2a2a;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    list-style: none;
    margin: 0;
    padding: 0;

    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 12px;
      color: white;
      transition: background 0.2s;

      &:hover {
        background-color: #3a3838;
      }
    }
  }
}

.header {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 99%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #212020;
  padding: 0px 40px;
  font-family: var(--font-montserrat);
  user-select: none;
  opacity: 90%;
  z-index: 10;

  .header-navigator {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .title {
    color: white;
  }

  .list {
    display: flex;
    width: 490px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    color: white;
    height: 100%;

    .list-item {
      position: relative;
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.main-section {
  height: 100dvh;
  position: relative;
  overflow: hidden;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

// about-us section
.about-section {
  height: 85dvh;
  background-color: #2c2a2a;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow-default;
  user-select: none;

  .about-content {
    display: flex;
    background-color: #212020;
    gap: 20px;
    padding: 30px;
    height: 680px;
    max-width: 1450px;
    margin: 0 auto;
    box-shadow: $box-shadow-default;
    border-radius: 5px;

    .about-content-informative {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .about-content-inner {
        padding: 45px;
      }

      .about-content-text {
        padding-bottom: 18px;
        border-bottom: 1px solid #2c2a2a;

        .about-content-title {
          font-family: var(--font-oswald);
          font-size: 14px;
          color: #7d7d7d;
          text-transform: uppercase;
          letter-spacing: 3px;
          position: relative;
          margin-bottom: 20px;

          &::after {
            content: "";
            display: block;
            width: 78px;
            height: 2px;
            background-color: #7d7d7d;
            margin-top: 4px;
          }
        }

        .about-content-secondary {
          font-family: var(--font-montserrat);
          font-size: 46px;
          line-height: 1;
          margin-bottom: 20px;

          span {
            color: #7d7d7d;
          }
        }
        .about-content-description {
          font-family: var(--font-montserrat);
          font-size: 16px;
          line-height: 1.6;
          margin-bottom: 10px;
        }
      }
    }
    .about-content-image {
      flex: 1;
      background-image: url("/images/about-us4.jpeg");
      background-size: cover;
      background-position: center 70%;
      background-repeat: no-repeat;
      position: relative;

      .about-content-badge {
        position: absolute;
        top: 20px;
        right: 20px;
        background: #212020;
        color: white;
        padding: 10px 20px;
        font-family: var(--font-oswald);
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 80%;
        transition: 0.3s;

        &:hover {
          color: black;
          background: white;
        }
      }
    }
    .about-content-boxes {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .about-content-box-subtitle {
        font-size: 45px;
        font-family: var(--font-oswald);
        color: #7d7d7d;
      }

      .about-content-box-span {
        font-family: var(--font-oswald);
      }
    }
  }
}

// Services Section
.service-section {
  background-color: #212020;
  height: 90dvh;

  .service-content {
    padding: 0px 100px;

    .service-title {
      font-family: var(--font-oswald);
      color: white;
      text-align: center;
      padding: 40px;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;

      &::after {
        content: "";
        display: block;
        width: 240px;
        height: 2px;
        background-color: white;
        margin: 4px auto 0;
      }
    }

    .service-cards-container {
      display: grid;
      grid-template-columns: repeat(5, 270px);
      gap: 25px;
      justify-content: center;
      margin-top: 20px;

      .service-card {
        position: relative;
        width: 270px;
        height: 270px;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 20px;
        color: white;
        text-align: center;
        border: 2px solid transparent;
        cursor: pointer;
        user-select: none;
        transition: border 0.15s;

        h3 {
          position: relative;
          z-index: 2;
          font-size: 20px;
          font-family: var(--font-oswald);
          font-weight: 300;
        }

        .service-card-bg {
          position: absolute;
          inset: 0;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: transform 0.5s ease;
          z-index: 0;

          &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(
              rgba(0, 0, 0, 0.1) 0%,
              rgba(0, 0, 0, 0.4) 40%,
              rgba(0, 0, 0, 0.8) 100%
            );
            z-index: 1;
          }
        }

        .service-card-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 25px;
          opacity: 0%;
          transition: opacity 0.3s, transform 0.3s;
          z-index: 2;
          pointer-events: none;

          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border: 2px solid white;
          background: rgba(255, 255, 255, 0.1);
        }

        &:hover {
          border: 2px solid white;

          .service-card-bg {
            transform: scale(1.05);
          }

          .service-card-icon {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
