@use "../variables.module" as *;

.flag-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0px;
}

.language-selector {
  position: relative;
  cursor: pointer;
  font-family: var(--font-montserrat);

  .selected {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #2c2a2a;
    padding: 6px 12px;
    border-radius: 6px;
    color: white;

    .arrow {
      margin-left: 4px;
    }
  }

  .dropdown {
    position: absolute;
    top: 110%;
    right: 0;
    background-color: #2c2a2a;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    list-style: none;
    margin: 0;
    padding: 0;

    .dropdown-item {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 12px;
      color: white;
      transition: background 0.2s;

      &:hover {
        background-color: #3a3838;
      }
    }
  }
}

.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  transition: background-color ease;
  padding: 0px 40px;
  font-family: var(--font-montserrat);
  user-select: none;
  z-index: 10;

  .header-navigator {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  .title {
    color: white;
  }

  .list {
    display: flex;
    width: 490px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    color: white;
    height: 100%;

    .list-item {
      position: relative;
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}
