@use "../variables.module" as *;

.workshop-section {
  height: 92dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  flex-direction: column;

  .workshop-header {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .workshop-section-title {
      font-family: var(--font-oswald);
      color: white;
      text-align: center;
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 3px;
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 190px;
        height: 2px;
        background-color: white;
        margin: 4px auto 0;
      }
    }

    .workshop-section-second-title {
      font-family: var(--font-montserrat);
      color: #7d7d7d;
      text-align: center;
      font-size: 16px;
    }
  }

  .workshop-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    position: relative;

    :global(.custom-pagination) {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      gap: 8px;
      z-index: 1;
    }

    :global(.custom-pagination .swiper-pagination-bullet) {
      width: 8px;
      height: 8px;
      background-color: black;
      border-radius: 50%;
      transition: all 0.3s;
    }

    :global(.custom-pagination .swiper-pagination-bullet-active) {
      width: 32px;
      height: 8px;
      border-radius: 4px;
      background-color: white;
    }

    :global(.swiper-slide:not(.swiper-slide-active)) {
      filter: blur(1px) brightness(0.9);
      transition: filter 0.5s ease, transform 0.5s ease;
      transform-origin: center center;
      pointer-events: none;
    }

    :global(.swiper-slide-active) {
      filter: none !important;
      pointer-events: auto;
      transition: filter 0.5s ease, transform 0.5s ease;
    }

    .workshop-card {
      width: 500px;
      height: 600px;
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      user-select: none;
      background-size: cover;
      background-position: center 90%;
      border: 2px solid white;
      box-shadow: $box-shadow-default;

      .workshop-card-content {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1.5rem;
        color: #fff;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7),
            transparent 50%
          );
          z-index: 0;
        }

        h3,
        h2 {
          position: relative;
          z-index: 1;
          margin: 0;
        }

        .workshop-card-car-type {
          font-size: 0.9rem;
          font-weight: 400;
          text-transform: uppercase;
          opacity: 0.8;
          margin-bottom: 0.5rem;
          font-family: var(--font-montserrat);
          font-weight: 600;
          color: #7d7d7d;
        }

        .workshop-card-car-title {
          font-size: 1.5rem;
          font-weight: 500;
          font-family: var(--font-oswald);
        }
      }
    }
  }
}
